// /* -------------------------------------------------------------------------- */
// /* ANIMATION STYLES */
// /* -------------------------------------------------------------------------- */
@keyframes menu-fadein {
  from {
    display: none;
    opacity: 0;
  }

  to {
    display: grid;
    opacity: 1;
  }
}