/* -------------------------------------------------------------------------- */
/* HEADER - TOPBAR AND NAVBAR IF NEEDED */
/* -------------------------------------------------------------------------- */

/* TOPBAR */
.topbar {
  width: 100%;
  height: 35px;
  height: auto;
  background-color: $color-white;

  .containerish {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding: .2rem 1rem;


    .topbar-link {
      font-family: $font-primary;
      font-size: 15px;
      font-weight: 300;
      color: $color-dark;

      &:hover {
        color: $color-main;
        text-decoration: none;
      }
    }

    .topbar-link-small {
      font-family: $font-primary;
      font-size: 13px;
      font-weight: 300;
      color: $color-black;

      &:hover {
        color: $color-main;
        text-decoration: none;
      }
    }

    .social-link {
      color: $color-black;
      margin-right: 0.5rem;

      &:hover {
        color: $color-main;
        text-decoration: none;
      }

      p {
        display: inline-block;
        line-height: 0;
        margin: 0;
        margin-left: 0.2rem;
      }
    }

    .social-link:last-child {
      margin-right: 0 !important;
    }

    .col-left {
      display: none;

      p {
        font-family: $font-primary;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 0;
      }
    }

    .col-right {
      display: flex;
      justify-content: center;
    }

    .topbar-link {
      margin-right: 1rem;
      // display: none;
    }

    .topbar-link-small {
      margin-right: 1rem;
      // display: none;
    }

    .topbar-link:last-child {
      margin-right: 0 !important;
      display: inline-block;
    }

    .topbar-link-small:last-child {
      margin-right: 0 !important;
      display: inline-block;
    }
  }
}