// Color Theme Vars
$color-main: #CBA170;
$color-dark: #333333;
$color-white: #fff;
$color-black: #000;

/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
.color-main {
  color: $color-main;
}

.color-dark {
  color: $color-dark;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}